.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  form {
    text-align: center;
    width: 400px;
  }
}

.title {
  color: green;
}